@{
    Layout = "_MasterLayout.cshtml";
}
<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        @await Component.InvokeAsync("PickUpNavigationMenu")
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>